.footer-main {
  background-color: #1e1e1e;
  color: #ccc;
  img {
    max-height: 60px;
    height: auto;
    width: auto;
  }
  h5 {
    color: #fff;
    margin-bottom: 1rem;
  }
  ul {
    li {
      margin-bottom: 0.5rem;

      a {
        text-decoration: none;
        color: #fff;
        &:hover {
          text-decoration: underline;
          color: #fff;
        }
      }
    }
  }
}
.footer-bottom {
  background-color: #111;
  font-size: 0.875rem;
}