<div class="notice-board" style="background: linear-gradient(270deg, rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0.80) 100%), url('images/noticebg.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
    <div class="container">
        <div class="notice-header">
            <h2 class="title">Notice Board</h2>
            <a href="#" class="more-news">MORE NEWS ></a>
        </div>
        <div class="notice-content row">
            <!-- Tabs & Events -->
            <div class="col-md-6 d-flex">
                <!-- Tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="academic-tab" data-bs-toggle="tab" data-bs-target="#academic-events" type="button" role="tab" aria-controls="academic-events" aria-selected="true">Academic Events</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="announcements-tab" data-bs-toggle="tab" data-bs-target="#announcements" type="button" role="tab" aria-controls="announcements" aria-selected="false">Announcements</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="official-comms-tab" data-bs-toggle="tab" data-bs-target="#official-comms" type="button" role="tab" aria-controls="official-comms" aria-selected="false">Official Comms</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="trends-tab" data-bs-toggle="tab" data-bs-target="#trends-comms" type="button" role="tab" aria-controls="trends-comms" aria-selected="false">Trends</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="academic-events" role="tabpanel" aria-labelledby="academic-events-tab">
                        <!-- Events List -->
                        <div class="events-list">
                            <div class="event-item">
                                <div class="date-box">
                                    <span class="day">APR</span>
                                    <span class="date">28</span>
                                </div>
                                <div class="event-details">
                                    <div class="title">ScreenDance, a Unique Dance Film Festival</div>
                                    <div class="time">5:00 PM</div>
                                </div>
                            </div>
                            <div class="event-item">
                                <div class="date-box">
                                    <span class="day">APR</span>
                                    <span class="date">28</span>
                                </div>
                                <div class="event-details">
                                    <div class="title">ScreenDance, a Unique Dance Film Festival</div>
                                    <div class="time">5:00 PM</div>
                                </div>
                            </div>
                            <div class="event-item">
                                <div class="date-box">
                                    <span class="day">APR</span>
                                    <span class="date">28</span>
                                </div>
                                <div class="event-details">
                                    <div class="title">ScreenDance, a Unique Dance Film Festival</div>
                                    <div class="time">5:00 PM</div>
                                </div>
                            </div>
                            <div class="event-item">
                                <div class="date-box">
                                    <span class="day">APR</span>
                                    <span class="date">28</span>
                                </div>
                                <div class="event-details">
                                    <div class="title">ScreenDance, a Unique Dance Film Festival</div>
                                    <div class="time">5:00 PM</div>
                                </div>
                            </div>
                            <div class="event-item">
                                <div class="date-box">
                                    <span class="day">APR</span>
                                    <span class="date">28</span>
                                </div>
                                <div class="event-details">
                                    <div class="title">ScreenDance, a Unique Dance Film Festival</div>
                                    <div class="time">5:00 PM</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="tab-pane fade" id="announcement" role="tabpanel" aria-labelledby="announcement-tab"></div>
                    <div class="tab-pane fade" id="official-comms" role="tabpanel" aria-labelledby="official-comms-tab"></div>
                    <div class="tab-pane fade" id="trends-comms" role="tabpanel" aria-labelledby="trends-comms-tab"></div>
                </div>

            <!-- Right side News -->
            <div class="col-md-6">
                <div class="highlighted-news">
                    <div class="news-grid">
                        <div class="news-item">
                            <img src="images/newsmain.jpg" alt="">
                            <div class="content">
                                <div class="content-wrap">
                                    <div class="title">Medium Title Lorem Ipsum Dolor Sit Amet minim mollit som aliqua</div>
                                    <div class="date">April 21, 2019</div>
                                </div>
                            </div>
                        </div>
                        <div class="news-item">
                            <img src="images/n.jpg" alt="">
                            <div class="content">
                                <div class="content-wrap">
                                    <div class="title">Short Title Lorem Ipsum Dolor sit Amet</div>
                                    <div class="date">April 21, 2019</div>
                                </div>
                            </div>
                        </div>
                        <div class="news-item">
                            <img src="images/n2.jpg" alt="">
                            <div class="content">
                                <div class="content-wrap">
                                    <div class="title">Short Title Lorem Ipsum Dolor sit Amet</div>
                                    <div class="date">April 21, 2019</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
