<div class="explore-programs" style="background-image: url('images/bg.jpg'); background-size: cover; background-position: center;">
    <div class="overlay">
        <div class="container">
            <div class="explore-program-wrap">
                <h1>Explore Programs</h1>
                <div class="search-box">
                    <input type="text" placeholder="What Would You Like To Study ?" />
                    <button type="submit">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>