<section class="leaders-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="leaders-content">
                    <img src="images/cm.png" alt="Shri Sukhvinder Singh" class="leader-img">
                    <h4 class="leader-name">Shri Sukhvinder Singh</h4>
                    <div class="leader-title">Hon'ble Chief Minister</div>
                    <div class="state">Himachal Pradesh</div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="leaders-content">
                    <img src="images/em.png" alt="Sh. Rajesh Dharmani" class="leader-img">
                    <h4 class="leader-name">Sh. Rajesh Dharmani</h4>
                    <div class="leader-title">Hon'ble Technical Education Minister</div>
                    <div class="state">Himachal Pradesh</div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="leaders-content">
                    <img src="images/hg.png" alt="Sh. Shiv Pratap Shukla" class="leader-img">
                    <h4 class="leader-name">Sh. Shiv Pratap Shukla</h4>
                    <div class="leader-title">Hon'ble Governor</div>
                    <div class="state">Himachal Pradesh</div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 leader">
                <div class="leaders-content">
                    <img src="images/vc.png" alt="Prof. Rajinder Verma" class="leader-img">
                    <h4 class="leader-name">Prof. Rajinder Verma</h4>
                    <div class="leader-title">Vice Chancellor</div>
                </div>
            </div>
        </div>
    </div>
</section>