<div class="news-content">
    <div class="container">
        <h2 class="title">What's New</h2>
        <div class="row">
            <!-- News Cards -->
            <div class="col-md-8">
                <div class="news-info-wrap d-flex justify-content-between align-items-center">
                    <div class="news-info">The news about recent activities for needed peoples claimed.</div>
                    <a href="#" class="all-news">ALL NEWS</a>
                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="card h-100">
                            <img src="images/news.png" class="card-img-top" alt="News image">
                            <div class="date">July 29, 2025</div>
                            <div class="card-body">
                                <div class="news-info">In College News, Community</div>
                                <div class="news-title">Cultural Festival & Concert at Domanion Valer</div>
                                <a href="#" class="continue-reading">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card h-100">
                            <img src="images/news.png" class="card-img-top" alt="News image">
                            <div class="date">July 29, 2025</div>
                            <div class="card-body">
                                <div class="news-info">In College News, Community</div>
                                <div class="news-title">Cultural Festival & Concert at Domanion Valer</div>
                                <a href="#" class="continue-reading">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Upcoming Events -->
            <div class="col-md-4">
                <div class="event-card bg-white">
                    <div class="event-title">Upcoming Events</div>
                    <div class="event-body">
                        <div class="title">Cultural Festival & Concert at Domanion Valer</div>
                        <div class="event-date">Aug 22, 2025 - Sep 22, 2025</div>
                    </div>

                    <div class="event-body">
                        <div class="title">Cultural Festival & Concert at Domanion Valer</div>
                        <div class="event-date">Aug 22, 2025 - Sep 22, 2025</div>
                    </div>

                    <div class="event-body">
                        <div class="title">Cultural Festival & Concert at Domanion Valer</div>
                        <div class="event-date">Aug 22, 2025 - Sep 22, 2025</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>