<div class="photo-gallery">
    <div class="container">
        <!-- Section Heading -->
        <div class="photo-gallery__wrapper">
                <h2 class="title">Our Photo Gallery</h2>
            <div class="photo-gallery-body">
                <div class="body">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                </div>
                <a href="#" class="all-photo">
                    All Photo's
                </a>
            </div>
        </div>

        <!-- Image Grid -->
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="photo-gallery-item">
                    <img src="images/g1.jpg" class="img-fluid rounded" alt="Gallery Image 1">
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="photo-gallery-item">
                    <img src="images/g2.jpg" class="img-fluid rounded" alt="Gallery Image 2">
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="photo-gallery-item">
                    <img src="images/g3.jpg" class="img-fluid rounded" alt="Gallery Image 3">
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="photo-gallery-item">
                    <img src="images/g4.jpg" class="img-fluid rounded" alt="Gallery Image 4">
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="photo-gallery-item">
                    <img src="images/g5.jpg" class="img-fluid rounded" alt="Gallery Image 5">
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="photo-gallery-item">
                    <img src="images/g6.jpg" class="img-fluid rounded" alt="Gallery Image 6">
                </div>
            </div>
        </div>
    </div>
</div>
